<!DOCTYPE html>
<html>
<head>
	<title>Flask</title>
	<style>
	*{
        margin: 0px;
        padding: 0px;
	}
</style>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="manan.png" alt="Logo" style="width:40px;">
            <span class="ml-3">Vision</span>
        </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/log">Log</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </nav>
</header>
<div class="container-fluid mt-3">
    <div class="row">
    <main class="container-fluid col-md-8">
       
       <div class="input-group">
          <div class="custom-file mr-5">
            <input id="select_image" type="file" accept="image/*" class="custom-file-input" aria-describedby="select_imageAddon01"/>
            <label class="custom-file-label" for="select_image01">Choose file</label>
          </div>
          <button id ="predict" class="btn btn-primary mr-5">Predict</button>
        </div>

        <div class="shadow-sm p-3 mb-5 mt-5 bg-white rounded">
            <h2 style="front-weight:bold" id="type">Prediction</h2>
            <p>Okay: <span id="ok"> 00%</span> <br> Fault: <span id="fault">00%</span></p>
        </div>

        <!-- <img id="preview" src=""/> -->
        <canvas style="border: 2px solid black"></canvas>
    </main>
    <aside class="col-md-4">
        <div class="text-center mb-3">
            <h2>Today</h2>
            <div class="row">
                <div id="thik" class="offset-md-3 col-md-3" style="background-color: green; height: 60px; font-size: 40px; color: white;"><%= today.ok %></div>
                <div id="gadbad" class="col-md-3" style="background-color: red; height: 60px; font-size: 40px; color: white;"><%= today.notok %></div>
            </div>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">OK</th>
                    <th scope="col">Defective</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i < log.length; i++){ %>
                <tr>
                    <th scope="row"><%= i+1 %></th>
                    <td><%= log[i].date.getDate() %>/<%= log[i].date.getMonth() %>/<%= log[i].date.getYear() %></td>
                    <td><%= log[i].ok %></td>
                    <td><%= log[i].notok %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </aside>
    </div>
</div>
<footer>
    copyright @ Sanket Sanath
</footer>
</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){

	var base64Image;
    // $('#select_image').change(function(){

    //     var reader=new FileReader()
    //     reader.onload=function(e){  
    //         var dataURL=reader.result;
    //         $('#preview').attr("src",dataURL);
    //         base64Image=dataURL.replace("data:image/png;based64","");
    //     }
    //     reader.readAsDataURL($('#select_image')[0].files[0]);
    //     $('#cat').text(""); $('#dog').text("");
    // });

    $("#select_image").change(function(e){
        const width = 100
        const fileName = e.target.files[0].name
        const reader = new FileReader()
        reader.readAsDataURL(e.target.files[0])
        reader.onload = event => {
            const img = new Image()
            img.src = event.target.result
            img.onload = ()=>{
                const elem = document.querySelector('canvas')
                const scaleFactor = width / img.width;
                elem.width = width
                elem.height = img.height * scaleFactor;
                const ctx = elem.getContext('2d')
                ctx.drawImage(img, 0, 0, width, img.height * scaleFactor)
                base64Image = elem.toDataURL("image/png")
            },
            reader.onerror = error => console.log(error)
        }
    })

    $("#predict").click(function(event){
        var data={ image:base64Image }

        $.ajax({
            type: 'POST',
            url: '/image',
            data,
            success: function(response) {
                console.log(response)
                console.log(response.prediction.fault)
                $('#ok').text(Number((response.prediction.ok * 100).toFixed(2))+'%'); $('#fault').text(Number((response.prediction.fault * 100).toFixed(2))+'%');
                $('#type').text(response.prediction.type);
                $('#thik').text(response.statics[0].ok); $('#gadbad').text(response.statics[0].notok);
            },
            error: function(error) {    
                alert(error.responseText);
                console.log(error.responseText);
            }
        });
    });
})
</script>
</html>